
# Virtual Environment
.venv/
__pycache__/
*.pyc

# Project specific caches
Iteration 5. End of Times/stock_cache/
Iteration 5. End of Times/ledgers/
Iteration 5. End of Times/models/
.python-version

# IDE files
.idea/
.vscode/
uv.lock

